# Excludes all in root folder, the home folder in this case.
/*

# Files in home folder
!.vimrc
!.bashrc
!.bash_profile
!.xinitrc
!.xprofile
!.Xresources
!.gitignore
!.tmux.conf
!setup.png

# Files in .config

# First, unignore .config dir
!/.config/

# Then ignore other all other stuff in it
/.config/*

# Unignore the i3 dir
!/.config/i3/
# Then unignore the files in it.
!/.config/i3/*

# Same for other programs
!/.config/ranger/
!/.config/ranger/*

!/.config/rofi/
!/.config/rofi/*

!/.config/polybar/
!/.config/polybar/*

!/.config/dunst
!/.config/dunstrc

!.config/nvim/
.config/nvim/*
!.config/nvim/init.vim
!.config/nvim/coc-settings.json

!.config/zathura/
!.config/zathura/*

!.config/redshift.conf
!.config/mimeapps.list

