[ -f ~/.profile ] && source ~/.profile

export QT_QPA_PLATFORMTHEME="qt5ct"
export GTK2_RC_FILES="$HOME/.gtkrc-2.0"
export XMODIFIERS=@im=SCIM
export GTK_IM_MODULE="scim"
export QT_IM_MODULE="scim"

# SCIM
scim -d &

# PyWal
wal -R

# Compton
compton &

# NetworkManager
nm-applet &

# Maps CapsLock to Escape
setxkbmap -option caps:escape

# Redshift
redshift &

# Unclutter
unclutter &

# Disable beep
xset -b
